<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Charlesville eAccounting", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (Request.IsAuthenticated)
                    { 
                        <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                        <li>@Html.ActionLink("Products", "Index", "Product")</li>
                        
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Misceleneous <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Category">Manage Categories</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/Supplier">Manage Suppliers</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/Country">Manage Countries</a></li>
                                    <li><a href="/State">Manage States</a></li>
                                    <li><a href="City">Manage Cities</a></li>
                                </ul>
                            </li>
                        
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Charlesville eAccounting</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $('select').addClass('form-control');
        $('input').addClass('form-control');
        $('.removeFormCtrl').removeClass('form-control');
    </script>
</body>
</html>
