@model Accounting.Models.Order

@{
    ViewBag.Title = "Details";
}

<h3>Oeder Details of @Model.Customer.ContactName on @Model.OrderDate</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordered)
        </dt>

        <dd>
            @if (Model.Ordered == 0) { 
            <span>No</span>
            }
            else { 
            <span>Yes</span>
            }
            
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    <tr>
        @foreach (var item in Model.OrderDetails)
        {
            <td>
                @item.Product.ProductName
            </td>
            <td>
                @item.UnitPrice
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @{
            var x = item.Quantity * item.UnitPrice;
            <span>@x</span>
                }
            </td>
        }
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
