@model IEnumerable<Accounting.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<button class="btn btn-primary salesButton" id="">Sales</button>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequiredDate)
        </td>
        <td>
            @if (item.Ordered == 0)
            {
                <span>No</span>
            }
            else
            {
                <span>Yes</span>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID }) |
            
        </td>
    </tr>
}

</table>



@Html.Partial("ngSalesLayout")

<script>
    $(function () {
        $('.select-cust-to-sell-to').click(function () {
            alert('click')
            $('#searchCust').val($('.select-cust-to-sell-to').attr('id'))
        })
    })
</script>
